.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 0;
  overflow: hidden;
}

.app-grid {
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.app-grid-item {
  padding: 0;
}
