.permaximize-main {
    --primary-color: #2196f3;
    --secondary-color: #FF4081;
    --primary-text: #000000;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    --dark-primary: #0069c0;
    --light-primary: #6ec6ff;
    --dark-secondary: #c60055;
    --light-secondary: #ff79b0;
    --gradient: linear-gradient(45deg, var(--primary-color) 30%, var(--secondary-color) 70%);
    --secondary-gradient: linear-gradient(45deg, var(--primary-color) 42%, var(--secondary-color) 58%);
    --light-gradient: linear-gradient(45deg, var(--light-primary) 35%, var(--light-secondary) 65%);
}

.game {
    --player-color-1: var(--primary-color);
    --player-color-2: var(--secondary-color);
}

.game-progress-bar {
    margin: 20px auto;
    width: calc(2.5 * 7em);
    justify-content: center;
}

.game-board-grid {
    display: grid;
    align-items: center;
    justify-content: center;
}

#game-main-title {
    font-size: 2em;
    background: var(--secondary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    margin-top: .1em;
}

#game-main-title-author {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    background: var(--secondary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#game-help-button {
    border: 6px solid;
    border-image-source: var(--light-gradient);
    border-image-slice: 1;

    background: var(--light-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    padding: 0 .25em;
    font-size: 1em;
    font-weight: bold;

    position: fixed;
    right: 1em;
    top: 1em;
    margin-right: 1em;
}

@media (max-width: 800px) {
    #game-help-button {
        visibility: hidden;
    }

    #game-main-title {
        margin-top: 1.5em;
        margin-bottom: .2em;
        font-size: 3em;
    }

    #game-main-title-author {
        margin-bottom: 2em;
    }
}

#game-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/************** Score header **************/
.game-score-header {
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 2em;
    align-items: baseline;
    height: 3.5em;
    margin-top: 0;
    max-height: 2.5em;
}

/* Score */
.game-score {
    padding: .1em .35em;
    border: 10px solid white !important;
    border-radius: 30%;
    margin-top: .2em;
    margin-bottom: .1em;
}

#game-score-1 {
    color: var(--player-color-1);
    border-color: var(--player-color-1);
    margin-right: 2em;
}

#game-score-2 {
    color: var(--player-color-2);
    border-color: var(--player-color-2);
}

/* Current player indicator */
.game-score-current {
    padding: .1em .35em;
    border: 10px solid !important;
    border-radius: 30%;
}

/* Post-game text */
.game-score-header-win {
    height: 2.5em;
    display: block;
    margin-bottom: 10px;
}

.game-win-text {
    margin-bottom: 20px;
    color: var(--secondary-text);
}

.game-win-text-1 {
    color: var(--player-color-1);
}

.game-win-text-2 {
    color: var(--player-color-2);
}

.game-win-link {
    font-weight: bold;
    font-size: .5em;
    margin: 10px;
    color: var(--secondary-text);
}

.game-win-link-1 {
    color: var(--player-color-1);
}

.game-win-link-2 {
    color: var(--player-color-2);
}

/************** Game Pieces **************/
.game-piece {
    height: 2.5em;
    width: 2.5em;
    border-radius: 20%;
    margin: 2px;
    box-sizing: border-box;
}

/* Player 1 Normal */
.game-piece-status-1 {
    background-color: var(--light-primary);
}

/* Player 2 Normal */
.game-piece-status-2 {
    background-color: var(--light-secondary);
}

/* Player 1 Solid */
.game-piece-status-3 {
    background-color: white;
    border: 15px solid var(--light-primary);
}

/* Player 2 Solid */
.game-piece-status-4 {
    background-color: white;
    border: 15px solid var(--light-secondary);
}

/* Player 1 Selected */
.game-piece-status-5 {
    background-color: var(--dark-primary);
}

/* Player 2 Selected */
.game-piece-status-6 {
    background-color: var(--dark-secondary);
}

/* Player 1 Largest Member */
.game-piece-largest-1 {
    background-color: var(--primary-color);
}

/* Player 2 Largest Member */
.game-piece-largest-2 {
    background-color: var(--secondary-color);
}

/* Player 1 Solid & Largest */
.game-piece-status-3.game-piece-largest-1 {
    background: white;
    border-color: var(--primary-color);
}

/* Player 1 Solid & Largest */
.game-piece-status-4.game-piece-largest-2 {
    background: white;
    border-color: var(--secondary-color);
}

/* Player 1 Selected & Largest */
.game-piece-status-5.game-piece-largest-1 {
    background-color: var(--dark-primary);
}

/* Player 2 Selected & Largest */
.game-piece-status-6.game-piece-largest-2 {
    background-color: var(--dark-secondary);
}

/************** Title Screen **************/
.game-title-screen {
    justify-content: center;
}

#game-title-main {
    position: fixed;
    width: 8em;
    left: 50vw;
    top: 15vh;
    margin: 1em -4em;
    font-size: 4.5em;
    color: var(--primary-color);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#game-title-author {
    position: fixed;
    width: 10em;
    left: 50vw;
    top: 40vh;
    margin: 1em -5em;
    font-size: 2em;
    color: var(--primary-color);
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#game-title-play {
    position: fixed;
    width: 6em;
    left: 50vw;
    top: 50vh;
    margin: 1em -3.25em;
    /* Text */
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Border */
    border: 10px solid;
    border-image-source: var(--gradient);
    border-image-slice: 1;
    padding: .1em 0;
}

/* Work with smaller screens */
@media (max-width: 800px) {
    #game-title-main {
        font-size: 3em;
        top: 25vh;
    }

    #game-title-author {
        font-size: 1.5em;
        top: 35vh;
    }

    #game-title-play {
        top: 40vh;
        width: 7em;
        margin: 1em -3.75em;
    }
}

/* Hover only if not on mobile */
@media (min-width: 800px) {
    .game-title-screen:hover {
        width: 100vw;
        height: 100vh;
        margin: 0;
        background: var(--gradient);
    }

    .game-title-screen:hover #game-title-main,
    .game-title-screen:hover #game-title-author {
        color: white;
        background: none;
        -webkit-background-clip: inherit;
        -webkit-text-fill-color: white;
    }

    .game-title-screen:hover #game-title-play {
        color: white;
        border: 10px solid white;
        background: none;
        -webkit-background-clip: inherit;
        -webkit-text-fill-color: white;
    }
}

/************** Help Screen **************/
#game-help-main {
    position: fixed;
    top: 5vh;
    left: 25vw;
    width: 50vw;
    border: 10px solid;
    border-image-source: var(--gradient);
    border-image-slice: 1;
    background: white;
    padding: 1em;
    color: var(--secondary-text);
}

#game-help-title {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#game-help-done {
    width: 5em;
    margin: 1em auto;
    text-decoration: none;
    font-weight: bold;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25em;
    border: 5px solid;
    border-image-source: var(--gradient);
    border-image-slice: 1;
    padding: 0 0;
}

/* Work with smaller screens */
@media (max-width: 800px) {
    #game-help-main {
        top: 5vh;
        left: 20vw;
        font-size: .8em;
    }

    #game-help-done {
        width: 6em;
    }
}
