#permaximize-main {

    --gradient: linear-gradient(45deg, var(--primary) 30%, var(--secondary) 70%);
    --secondary-gradient: linear-gradient(45deg, var(--primary) 42%, var(--secondary) 58%);
    --light-gradient: linear-gradient(45deg, var(--primary-light) 42%, var(--secondary-light) 58%);
}